.custom-nav a {
    color: #8F8F8F;
    font-weight: 500;
    font-size: 18px;
}

.custom-nav a:hover {
    color: #0C5B21;
}

.custom-navbar {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}