.footer {
    background-image: url(../../asset/images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 578px;
    margin-top: 110px;
    .container {
        .footer-content {
            padding-top: 120px;
        }
        .up-side-footer {
            h6 {
                color: white;
                margin-left: 32px;
                font-weight: 600;
                font-size: 18pt;
            }
            ul {
                li {
                    color: white;
                    list-style: none;
                }
                a {
                    text-decoration: none;
                }
            }
        }
        .down-side-footer {
            justify-content: space-between;
            // margin: 68px 0px 0px 32px;
            margin-top: 68px;
            h6 {
                color: white;
            }
            p {
                color: white;
            }
            .right {
                .icons {
                    i {
                        color: white;
                        font-size: 20pt;
                    }
                }
            }
        }
    }
}