.travel {
    width: 100%;
    height: auto;
    background-image: url('../../../asset/images/travel-experience.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.travel .custom-margin {
    margin-top: 250px;
    margin-bottom: 100px;
}

.travel h1,
.travel h2 {
    font-size: 40px;
    color: white;
    font-weight: 700;
}

.travel h2 {
    color: #FD7B38;
}

.travel p {
    font-size: 18px;
    line-height: 30px;
    color: white;
    font-weight: 500;
}

.travel-box {
    width: 210px;
    height: 140px;
    background: white;
    border-radius: 10px;
    padding: 30px 0 0 20px;
}

.custom-marginbox {
    margin-top: 150px;
}

.travel-box p {
    color: #1A2C21;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
}